In [1]:
# Installing Modules in Terminal
# pip install selenium
# pip install webdriver-manager

# Importing Modules
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup # scraping html
import pandas as pd

In [ ]:
# Configure Chrome Options
options = webdriver.ChromeOptions()
options.add_argument("--headless") # Runs in headless mode
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)

In [ ]:
# Get url
url = "https://www.leagueofgraphs.com/rankings/summoners/na"
driver.get(url)

In [4]:
driver.implicitly_wait(5)

In [5]:
soup = BeautifulSoup(driver.page_source, "html.parser")

In [6]:
table = soup.find("table",{"class": "data_table summonerRankingsTable with_sortable_column"})

In [7]:
# Headers
headers = [th.text.strip() for th in table.find_all("th")]

In [8]:
# Rows
rows = []
for tr in table.find_all("tr")[1:]: 
    cells = tr.find_all("td")
    row = [cell.text.strip() for cell in cells]
    rows.append(row)

In [9]:
df = pd.DataFrame(rows, columns=headers)

In [10]:
driver.quit

In [11]:
df

,#,Name,Soloqueue,Draft Ranked Flex,Most played champions
0,1.,ARMAO#NA1\n\nNA\n(#1),Challenger\n ...,,
1,2.,ToastyAlex#NA1\n\nNA\n(#2),Challenger\n ...,Diamond III\n ...,
2,3.,Pentaless#penta\n\nNA\n(#3),Challenger\n ...,,
3,4.,never type#1998\n\nNA\n(#4),Challenger\n ...,,
4,5.,notscaredtolose#123\n\nNA\n(#5),Challenger\n ...,,
...,...,...,...,...,...
96,96.,Yabyinda#lovie\n\nNA\n(#96),Challenger\n ...,,
97,97.,Yuno Gasai#2016\n\nNA\n(#97),Challenger\n ...,Diamond I\n ...,
98,98.,billie#angel\n\nNA\n(#98),Challenger\n ...,,
99,99.,Neeko No Crush#99999\n\nNA\n(#99),Challenger\n ...,,
100,100.,Doublelift#NA1\n\nNA\n(#100),Challenger\n ...,,

In [1]:
# Delete Unwanted Colums
del df["Soloqueue"]
del df["Draft Ranked Flex"]
del df["Most played champions"]
del df["#"]

NameError: name 'df' is not defined

In [23]:
df.to_csv(r'E:\PROJECTS\LEAGUE BOT\challengers.csv')